// -----------------------------------------------------------------------------
// This file contains styles that are specific to the login page.
// -----------------------------------------------------------------------------

body {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  #main {
    // box
    z-index: 3;
    height: 580px;
    width: 460px;
    min-width: 460px;
    margin-right: 50%;
    position: relative;
    border: #fff7 1px solid;
    box-shadow: 0 0 30px 10px #fff2;
    border-radius: 16px;

    @include blur-me;

    // inner
    text-align: center;
    color: #0f2b60;

    p {
      color: #673ab7;
      padding: 0 15%;
    }

    #logo {
      margin-top: 10%;
      width: 75%;
    }

    #svg-logo {
      fill: blueviolet;
    }

    .login {
      position: absolute;
      height: 75%;
      width: 75%;
      background-color: crimson;
      right: -80%;
      top: 12.5%;
      border: #fff7 1px solid;
      border-radius: 16px 0 16px 0;
      box-shadow: 0 0 30px 10px #fff2;
      padding: 0 32px;

      @include blur-me;

      h3 {
        margin: 32px auto;
        height: 32px;
      }

      .form-group {
        text-align: left;
        margin-bottom: 24px;

        label {
          display: block;
          height: 32px;
        }

        input {
          outline: unset;
          border: unset;
          border-radius: 16px 0 16px 0;
          padding: 8px 16px;
          box-shadow: 2px 2px 8px -2px grey;
          @include blur-me;

          &:focus {
            box-shadow: 2px 2px 16px -2px grey;
          }
        }
      }

      .inline {
        height: 32px;

        label {
          display: inline;
        }
      }

      button[type="submit"] {
        outline: unset;
        border: unset;
        border-radius: 16px 0 16px 0;
        padding: 8px 16px;
        box-shadow: 2px 2px 8px -2px grey;
        @include blur-me;

        &:hover {
          box-shadow: 2px 2px 16px -2px grey;
        }
      }
    }
  }
}
